<launch>
  <node pkg="fame" type="fame_serial" name="fame_serial" />
  <node pkg="fame" type="fame_serial_2" name="fame_serial_2" />
  <node pkg="fame" type="fame_filter" name="fame_filter" />
  <node pkg="fame" type="fame_filter_2" name="fame_filter_2" />
  <node pkg="fame" type="fame_trajectory_generation" name="fame_trajectory_generation" />
  <node pkg="fame" type="fame_trajectory_generation_2" name="fame_trajectory_generation_2" />
  <node pkg="fame" type="fame_control" name="fame_control" />
  <node pkg="fame" type="fame_control_2" name="fame_control_2" />
  <node pkg="fame" type="fame_log" name="fame_log" />
  <node pkg="fame" type="fame_log_2" name="fame_log_2" />
</launch>
